* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}


/* Changed the color of the "seo" in the header to be more noticeable */

.header h1 .seo {
    color: #28e6ec;
}

.header div {
    margin-right: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


/* Removed the ul and li tags since they weren't serving any purpose,
   removing them didn't change the function of the website, 
   and condensed the "a" tags in css */

a {
    display: inline-block;
    margin-left: 25px;
    border: 2px solid lightskyblue;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 25%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}


/* Changed the class to match each other so we could condense codes without changing the website */

.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}


/* Changed the class to match each other so we could condense codes without changing the website */

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}


/* Changed the class to match each other so we could condense codes without changing the website */

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* Added an id alt to the "search-engine-optimization" image to allow the navigation at the top of the page to work properly */


/* Renamed the classes for each image to "Links" to condense code and keep the websites intended function */

.Links {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.Links img {
    max-height: 200px;
}

.Links h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}


/* When the screen is 1060px or smaller, the Links will stack one over the other */

@media screen and (max-width: 1060px) {
    a {
        display: flex;
        flex-wrap: wrap-reverse;
    }
}


/* When the screen is 1060px or smaller, the Links will stack neatly */

@media screen and (max-width: 1060px) {
    .header div {
        position: absolute;
        top: 5px;
        right: 5px;
    }
}


/* When the screen is 1061px or larger, the Links will move accordingly */

@media screen and (min-width: 1061px) {
    .header div {
        float: right;
        padding-top: 15px;
    }
}